body {
    background: #5f6d80;
}

h1 {
    text-align: center;
    color: #385170;
    background: #9fd3c7;;
}

.recipes_index {
    padding: 30px;
    text-align: center;
    color: #EEEEEE;
    background-color: #548CA8;
    display: inline-block;
    border: 5px solid white;
    margin: 0px 20px;
}

.container-flexbox{
    background-color: #3785ce;
    display: flex;
    justify-content: center;
    margin: 0px 50px;
}

